# Dependencies
node_modules/
mobile/node_modules/

# Expo
.expo/
mobile/.expo/
dist/
mobile/dist/
web-build/
mobile/web-build/

# Native
mobile/ios/
mobile/android/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# Local env
.env*.local
